# Dependencies
/node_modules
/vendor

# Build files
/build
/dist

# Debug logs
/logs/

# IDE and editor folders
/.idea
/.vscode
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# PHP specific
composer.phar
composer.lock

# Testing
/coverage
/phpunit.xml

# Environment files
/database/.env

# .sql files
# *.sql

# markdown
improvements.md

composer.lock