@import url(global.css);
@import url(index.css);
@import url(targets.css);

.subHeader1,
#targetSidebarDesktop {
  min-width: 50vw !important;
  max-width: 50vw !important;
  width: 50vw !important;
}
