@import url(global.css);
@import url(index.css);

#testListHeader {
  height: 60px;
}

.test-button {
  height: auto !important;
}

#tests-in-progress {
  max-height: 72vh;
}

.in-progress {
  background-color: var(--header-color);
}

.completed {
  background-color: var(--button-color);
}

#tests-in-progress,
#completed-tests {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  overflow-y: auto;
}

.test-item {
  scroll-snap-align: start;
}

.test-item:last-of-type {
  padding-bottom: 0 !important;
}

#userDashboard {
  min-height: calc(100vh - 80px);
}

.dropdown-toggle::after {
  display: none !important;
}

.dropdown-caret {
  right: 10px !important;
  top: 6px !important;
  pointer-events: none;
}
