/* COLORS  */
:root {
  --logo-color: #5f44ff;
  --light-background-color: #e1dbf1;
  --dark-background-color: #181328;
  --button-color: #55e5a0;
  --header-color: #6862ea;
  --white-color: #fff;
  --black-color: #000;
}

/* FONTS */

/* Logo font */
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Paragraph font */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL STYLES */

html,
body {
  height: 100vh;
  overflow-x: hidden;
}

main {
  background-color: var(--light-background-color);
}

#mainHeader {
  background-color: var(--dark-background-color);
  height: 65px !important;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

.btn {
  background-color: var(--button-color);
  color: var(--black-color);
}

.btn:hover {
  background-color: #3acb85;
  color: var(--white-color);
}

svg {
  color: var(--header-color);
}

.logo {
  margin-left: 18.5px;
  height: 28px;
}

.spinner-border {
  color: var(--header-color);
}

/* Custom 'Bootstrap' styles */
.fs-7 {
  font-size: 0.85rem !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(165, 139, 224, 0.4);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(165, 139, 224, 0.6);
}
