@import url(global.css);

/* LOGIN PAGE */

#mainFlexWrapper {
  height: calc(100vh - 80px);
  padding-top: 15vh;
}

#loginSection {
  background-color: var(--dark-background-color);
  width: 80%;
  border-radius: 24px;
  padding: 65px 65px 0px 65px;
}

#login {
  background-color: var(--button-color);
}

#login:hover {
  background-color: #3bbe7f;
  color: var(--white-color) !important;
}

#login:focus-visible,
input:focus {
  outline: 2px solid var(--logo-color);
  outline-offset: 2px;
}

/* RESPONSIVITY */

@media screen and (max-width: 1400px) {
  .contentCardText > h2 {
    font-size: 2rem !important;
  }
  .contentCardText > p {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 992px) {
  .contentCardText > h2 {
    font-size: 1.5rem !important;
  }
  #loginContainer {
    width: 100% !important;
  }
  #loginSection {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #mainFlexWrapper {
    padding-top: 1rem;
  }
  .contentCardText > h2 {
    font-size: 2rem !important;
  }
}

@media screen and (min-width: 768px) {
  .pe-6 {
    padding-right: 4rem !important;
  }
}

@media screen and (max-width: 576px) {
  .contentCard {
    object-fit: contain;
  }
  .contentCardText {
    text-align: center;
    padding: 0 0.5rem;
  }
  #fadeCarousel {
    height: 100% !important;
  }
}

@media screen and (min-width: 2500px) {
  #login-form {
    padding-bottom: 2rem !important;
  }
  .contentCardText > h2 {
    font-size: 4rem !important;
  }
  #contentHeader h2 {
    font-size: 3rem !important;
  }
  .contentCardText > p {
    font-size: 2rem !important;
  }
  .contentCard {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  #loginContainer {
    transform: scale(1.2);
    width: 60% !important;
  }
}

/* LOGIN CONTENT */

#fadeCarousel {
  height: 87%;
}

#homeContent {
  background-color: var(--dark-background-color);
  width: 90%;
  border-radius: 24px;
}

.contentCard {
  width: 85%;
}

.highlight {
  color: var(--button-color);
}

/* LOGIN CONTENT CAROUSEL */

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* FOOTER */

footer {
  background-color: var(--light-background-color);
  padding: 0% 10% 0% 10%;
}
