/* COLORS  */
:root {
    --logo-colour: #5f44ff;
    --light-background-color: #e1dbf1;
    --dark-background-color: #181328;
    --button-color: #55e5a0;
    --header-color: #6862ea;
}

/* FONTS */

/* Logo font */
@font-face {
    font-family: "Orbitron";
    src: url("../fonts/Orbitron.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Paragraph font */
@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* GLOBAL STYLES */

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

main {
    background-color: var(--light-background-color);
    width: 100%;
}

/* LOGIN PAGE */

#loginWrapper {
    height: 90vh;
    width: 50%;
    margin-top: 5%;
}

.logo {
    width: 150px;
    height: 50px;
    padding: 0.5vh;
    min-width: 150px;
}

.sms {
    width: 225px;
    height: 75px;
}

.mainframe {
    width: 283.5px;
    height: 351px;
}

#mainHeader {
    background-color: var(--dark-background-color);
    height: 60px;
}

#loginSection {
    background-color: var(--dark-background-color);
    width: 80%;
    height: 50%;
    border-radius: 24px;
}

#loginContainer {
    width: 100%;
    height: 100%;
}

#loginWrapper {
    margin-top: 10vh;
}

label {
    color: white;
}

form {
    width: 75%;
}

#login {
    background-color: var(--button-color);
    width: 100%;
}

#login:focus-visible {
    outline: 2px solid var(--logo-colour);
    outline-offset: 2px;
}

@media screen and (max-width: 375px) {
    .sms {
        width: 157.5px;
        height: 52.5px;
    }

    #loginSection {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    #loginWrapper {
        height: 50%;
        margin-top: 5%;
    }

    #loginSection {
        height: 40vh;
    }

    #contentWrapper {
        margin-top: 5% !important;
    }

    #homeContent {
        width: 80% !important;
    }

    .contentCard {
        margin: 0 !important;
    }
}

@media screen and (max-width: 576px) {
    #mainHeader {
        display: flex;
        justify-content: center !important;
    }

    #loginSection {
        width: 90%;
    }

    #homeContent {
        width: 90% !important;
    }

    #contentHeader {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    #loginRight {
        display: none !important;
    }

    #loginContainer {
        width: 100%;
    }

    h1 span {
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    .hide {
        display: none !important;
    }
}

@media (max-height: 800px) {
    .mainframe {
        width: 198.45px;
        height: 245.7px;
    }

    .sms {
        display: none;
    }
}

@media (max-height: 550px) {
    .mainframe {
        width: 141.75px;
        height: 175.5px;
    }

    .form-group {
        margin: 0 !important;
    }
}

/* LOGIN CONTENT */

#contentWrapper {
    margin-top: 10vh;
}

#homeContent {
    background-color: var(--dark-background-color);
    height: 45vh;
    width: 90%;
    border-radius: 24px;
}

.contentCard {
    width: 95%;
    margin-top: 6%;
}

#contentHeader {
    padding: 3%;
}

.homeContentCard {
    padding: 0% 5% 0% 5%;
    height: 33vh;
}

.contentCardText {
    color: white;
    font-family: "Roboto", sans-serif;
}

.highlight {
    color: var(--button-color);
}

/* LOGIN CONTENT CAROUSEL */

#fadeCarousel .carousel-inner,
#fadeCarousel .carousel-item {
    height: 100%;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
    opacity: 1;
    z-index: 1;
}

.carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER */

footer {
    background-color: var(--light-background-color);
    padding: 0% 10% 0% 10%;
}

/* DASHBOARD PAGE */

.logo-only {
    width: 40px;
    height: 40px;
}

#sidebar {
    height: 94vh;
    width: 4.5em;
}

#userDashboard {
    height: 92vh;
    width: 97%;
    background-color: white;
    border-radius: 18px 18px 0px 0px;
}

#testList {
    height: 54vh;
    width: 97%;
    background-color: var(--light-background-color);
    border-radius: 18px;
}

.statBox {
    height: 25vh;
    background-color: var(--light-background-color);
    border-radius: 18px;
}

#dashboardHeader {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    padding: 1%;
}

h1 span {
    color: var(--logo-colour);
}

/* DivTable */

.divTable {
    display: table;
    width: 90vw;
    padding: 0;
    margin: 0% 5vw 2% 5vw;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    background-color: #eee;
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}

.divTableHeading {
    background-color: #eee;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #eee;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}
